.suggestionContainer {
  container-type: inline-size;
  width: 100%;
}

.suggestionGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@container (min-width: 42rem) {
  .suggestionGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
